*, *::before, *::after {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 20px auto;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0, 110, 255, 0.8), rgba(16, 16, 129, 0) 70.71%);
  }

  .calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    gap: 1px;

  }
  
  .calc-grid > button {
    cursor: pointer;
    font-size: 35px;
    color: rgb(57, 56, 66);
    border: 1px solid rgba(255, 255, 255, 0.884);
    outline: none;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 2px;
  }
  
  .calc-grid > button:hover {
    background-color: rgb(155, 255, 130);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(17, 20, 53, 0.932);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 2px;
  }
  
  .output .previous-operand {
    color: rgb(252, 252, 252);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: rgb(255, 238, 0);
    font-size: 3rem;
  }

