*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 20px auto;
    background: rgb(216, 216, 216);
    
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
    gap: 1px;

  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 35px;
    color: rgb(83, 83, 83);
    border: 1px solid rgba(229, 255, 159, 0.884);
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(47, 233, 1, 0.9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(25, 30, 77, 0.877);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 2px;
  }
  
  .output .previous-operand {
    color: rgb(252, 252, 252);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: rgb(43, 255, 0);
    font-size: 2.5rem;
  }

